$primary: rgb(0,103,231);
$light_grey: rgb(245,245,245);
$text_grey: rgb(116,116,116);
$icon_grey: rgb(170,170,170);
$darker_grey: rgb(38,49,60);
$dark_grey: rgb(29,39,47);
$icon_orange: rgb(255,138,5);
$icon_purple: rgb(117,50,255);
$icon_pink: rgb(255,0,183);

$bar_blue: rgb(84,134,238);
$bar_orange: rgb(238,129,85);
$bar_green: rgb(39,237,85);
